main{
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

.signup-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.signup-container form{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

.signup-container form label{
    margin-top: 5px;
}

.signup-container input{
    padding: 5px;
    margin: 0;
    width: 200px;
    margin: 5px 0;
    border-radius: 2.5px;
    border: 1px solid rgb(7, 66, 124);
}

.signup-container form h1{
    margin: 0 0 20px;
    font-family: roleway-b;
    font-size: 1.2em;
    color: rgb(7, 66, 124);
}

.signup-container button{
    margin-top: 10px;
    margin-left: auto;
    padding: 5px;
    background-color: rgb(7, 66, 124);
    border: 1px solid rgb(7, 66, 124);
    border-radius: 2.5px;
    color: white;
}